@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  color: #FFFFFF
}

.flex { display: flex; }
.justify-center { justify-content: center; }
.space-x-4 > :not([hidden]) ~ :not([hidden]) { --tw-space-x-reverse: 0; margin-right: calc(1rem * var(--tw-space-x-reverse)); margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse))); }
.mt-4 { margin-top: 1rem; }
.text-center { text-align: center; }
.text-2xl { font-size: 1.5rem; }
.font-semibold { font-weight: 600; }
.transition-colors { transition-property: color; }
.duration-200 { transition-duration: 200ms; }
.hover\:text-blue-600:hover { color: #2563eb; }